## crossvalidation

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,alone
0,0,0,3,2,22,1,0,7,1,0,0
1,1,1,1,2,38,1,0,71,1,0,0
2,2,1,3,2,26,0,0,7,1,0,1
3,3,1,1,2,35,1,0,53,1,0,0
4,4,0,3,2,35,0,0,8,1,0,1