In [1]:
import pandas as pd
import numpy as np

In [4]:
ser = pd.Series(np.random.rand(3))

In [5]:
ser

0    0.353579
1    0.271922
2    0.461680
dtype: float64

In [6]:
type(ser)

pandas.core.series.Series

In [9]:
newdf = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [10]:
newdf.head(4)

          0         1         2         3         4
0  0.277764  0.988874  0.781567  0.371088  0.183840
1  0.381459  0.112732  0.823751  0.762171  0.267111
2  0.038357  0.746335  0.670146  0.522406  0.366691
3  0.357305  0.751299  0.790686  0.923302  0.840501

In [12]:
type(newdf)

pandas.core.frame.DataFrame

In [13]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.503362    0.506331    0.504373    0.525684    0.486163
std      0.282823    0.293727    0.286486    0.280421    0.290662
min      0.009533    0.001650    0.001169    0.006200    0.009291
25%      0.273024    0.242910    0.241273    0.288258    0.235543
50%      0.496249    0.506139    0.514983    0.530090    0.470989
75%      0.748664    0.751109    0.751871    0.759231    0.750823
max      0.996774    0.988874    0.994518    0.997735    0.987951

In [16]:
newdf.head(3)

          0         1         2         3         4
0  0.277764  0.988874  0.781567  0.371088  0.183840
1  0.381459  0.112732  0.823751  0.762171  0.267111
2  0.038357  0.746335  0.670146  0.522406  0.366691

In [17]:
newdf.dtytpes

AttributeError: 'DataFrame' object has no attribute 'dtytpes'

In [18]:
newdf[1][1]='jerry'

C:\Users\V I C T U S\AppData\Local\Temp\ipykernel_15908\261457785.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[1][1]='jerry'
C:\Users\V I C T U S\AppData\Local\Temp\ipykernel_15908\261457785.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'jerry' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[1][1]='jerry'

In [19]:
newdf.head(3)

          0         1         2         3         4
0  0.277764  0.988874  0.781567  0.371088  0.183840
1  0.381459     jerry  0.823751  0.762171  0.267111
2  0.038357  0.746335  0.670146  0.522406  0.366691

In [20]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [21]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [23]:
newdf.to_np()

AttributeError: 'DataFrame' object has no attribute 'to_np'